#home-header {
  @include outer-container();
  border-bottom: 1px solid #ccc;
  margin-bottom: 2em;
  padding-bottom: 1em;

  #intro {
    @include media($medium-screen-up) {
      @include span-columns(8 of 12);
    }
  }

  .modal {
    @include media($medium-screen-up) {
      @include span-columns(4 of 12);
      @include omega();
    }

    .btn {
      font-size: 1.5em;
      margin-top: 0.5em;
      margin-bottom: 0;
      width: 100%;
      text-align: center;
    }
  }
}

#signup-modal {
  ul.service-logins {
    li {
      margin-bottom: 1em;
      a {
        text-align: left;
        width: 250px;
        &:before {
          width: 20px;
        }
      }
    }
  }
}
