#home-header {
  @include outer-container();

  #intro {
    background: $dark-gray;
    @include outer-container();
    #hero {
      @include media($medium-screen-up) {
        @include span-columns(6 of 12);
      }
      @include media($large-screen-up) {
        @include span-columns(6 of 12);
      }
    }

    #hero-copy {
      @include media($medium-screen-up) {
        @include span-columns(6 of 12);
      }
      @include media($large-screen-up) {
        @include span-columns(6 of 12);
      }
    }

    #hero {
      @include media($mobile-only) {
        max-height: 300px;
        overflow: hidden;
      }
      img {
        display: block;
      }
    }

    #hero-copy {
      @include pad(2em);
      color: $white;
      text-transform: uppercase;
      h1 {
        font-size: 3em;
        letter-spacing: 2px;
        text-align: center;
        @include media($medium-screen-up) {
          font-size: 3.2em;
          letter-spacing: -1px;
          text-align: left;
          word-spacing: 400px;
        }
        @include media(min-width 755px) {
          font-size: 4.0em;
        }
        @include media($large-screen-up) {
          font-size: 4.6em;
          letter-spacing: -2px;
          word-spacing: 200px;
        }
        @include media(min-width 1044px) {
          font-size: 5.8em;
        }
        font-weight: 900;
        line-height: 1.2em;
        strong {
          color: $base-accent-color;
          font-weight: 900;
        }
      }
    }
  }
}

#homepage-about, #map-share {
  background: #f7f7f7 url(ico-wreath.png) no-repeat center 3em;
  padding-top: 6em;
  padding-bottom: 3em;
  text-align: center;
  word-wrap: 100px;
  h2 {
    @extend %section-header;
  }
  div.blurb {
    color: $medium-gray;
    margin: 1em auto;
    max-width: 600px;
    padding: 0 2em;
    @include media($medium-screen-up) {
      padding: 0;
    }
  }

  .modal {

    @include media($medium-screen-up) {
      display: inline;
      margin: 0 1em;
    }
    label {
      display: inline;
    }
    .btn {
      margin-top: 1em;
      text-align: center;
    }
  }
}

#load-more-posts {
  font-size: em(12px);
  font-weight: 600;
  padding: 2em 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  &.disabled {
    background: $light-gray;
    color: $medium-gray;
    cursor: default;
  }
}

#signup-modal {
  ul.service-logins {
    li {
      margin-bottom: 1em;
      a {
        text-align: left;
        width: 250px;
        &:before {
          width: 20px;
        }
      }
    }
  }
}
