#profile-form {
  #profile-relationship {
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.3em;
  }

  select {
    // background: none;
    // border: 1px solid #ccc;
    display: inline;
    font-size: 0.9em;
    margin-bottom: .5em;
  }
}
