<header class="navigation">
  <div class="navigation-wrapper">
    <%= link_to(fa_icon("home").html_safe, root_path, :class => 'logo') %>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <!-- <li class="nav-link"><a href="javascript:void(0)">My Posts</a></li> -->
        <li class="nav-link"><a href="/map">Map</a></li>
      </ul>
    </div>
    <% if user_signed_in? %>
      <div class="navigation-tools">
        <div class="user-bar">
          <img class="profile" src="<%= current_user.image %>" alt="" height="30">
          <%= link_to("My Profile", profile_path, :class => 'profile-link') %>
        </div>
        <%= link_to("Log out", :destroy_user_session , :class => "sign-up", :method => "delete") %>
      </div>
    <% end %>
  </div>
</header>
