<section id="home-header">
  <div id="intro">
    <h1>Thanks to you, Steve...</h1>
    <p>Steve has meant so much to so many people in so many different ways. This is a site to collect all the ways that Steve has been a part of other people's life stories.</p>
  </div>
  <% if user_signed_in? %>
    <div class="modal">
      <label for="modal-2">
        <div class="btn btn-primary">Add Your Thanks </div>
      </label>
      <input class="modal-state" id="modal-2" type="checkbox" />
      <div class="modal-window">
        <div class="modal-inner">
          <label class="modal-close" for="modal-2"></label>
          <%= render "posts/form", :post_action => 'create' %>
        </div>
      </div>
    </div>
  <% end %>
</section>

<section class="post-feed">
  <div class="column-width"></div>
  <div class="gutter-width"></div>
  <% @posts.each do |post| %>
    <%= render "posts/post", :post => post %>
  <% end -%>

</section>
