<% content_for :ogtags do %>
  <meta property="og:url" content="http://www.thankstoyousteve.com/read"/>
  <meta property="og:title" content="Articles about Steve&apos; Life &amp; Death on ThanksToYouSteve.com"/>
  <meta property="og:description" content="Read some the articles that remember, honor, and share the journey of the life lived abundantly and joyfully by Steve Hayner."/>
  <meta property="og:image" content="<%=image_url("hdr-steve.jpg")%>" />
<% end %>
<section class="read">
  <header>
    <h1>Remembering</h1>
  </header>

  <article>
    <h3 class="source">Columbia Connections</h3>
    <h2 class="title"><a target="_blank" href="http://columbiaconnections.org/2015/01/31/steve-hayner-66-seminary-president-and-interdenominational-leader/">Steve Hayner, 66, Seminary President and Interdenominational Leader</a></h2>
    <div class="meta">January 31, 2015</div>
    <blockquote>
      Known by many throughout the world with love, affection, and gratitude, Steve was a person of many honors and degrees who refused to categorize others or himself by achievements. His goal was to always live to and for an audience of One, and his hope was to live life with wide open arms and relational integrity. His life was imbued with joy and freedom, which touched and changed many people along the way.
    </blockquote>
  </article>

  <article>
    <h3 class="source">Intervarsity Christian Fellowship/USA</h3>
    <h2 class="title"><a target="_blank" href="http://www.intervarsity.org/news/remembering-steve-hayner">Remembering Steve Hayner</a></h2>
    <div class="meta">January 31, 2015</div>
    <blockquote>
      Steve brought great gifts to InterVarsity through his pastor&apos;s heart, intellectual brilliance, love of students and the university and servant leadership. Some of those gifts included personal and relational healing for a great many staff, steady high-quality leadership that created greater trust and focus for the ministry, and a strong and healthy board of trustees.
    </blockquote>
  </article>

  <article>
    <h3 class="source">The Presbyterian Outlook</h3>
    <h2 class="title"><a target="_blank" href="http://pres-outlook.org/2015/01/steve-hayner-remembered/">Steve Hayner Remembered</a></h2>
    <div class="meta">January 31, 2015</div>
    <blockquote>
      Steve&apos;s life was lived in alignment with a deep faith and love for Jesus.  Steve was not a lover of Christian institutions so much as a lover of Jesus who found ways to serve within the institutions of his day. His faith was lived out before us all, until the very end, and now we surrender him back into the arms of the One he loved so passionately. In the midst of my grief this day, the thought of Steve healthy, whole, and face-to-face with Jesus brings a smile that will not fade away.
    </blockquote>
  </article>

  <article>
    <h3 class="source">International Justice Mission</h3>
    <h2 class="title"><a target="_blank" href="http://news.ijm.org/a-tribute-to-steve-hayner">A Tribute to IJM Board Chairman Steve Hayner</a></h2>
    <div class="meta">February 3, 2015</div>
    <blockquote>
      Steve Hayner lived to love. He was a brilliant leader and profound teacher, but most of all, he taught us how to love, and to love with great joy&hellip; As one colleague reflected, in every aspect of his leadership and friendship to IJM Steve truly carried &ldquo;the aroma of Christ.&rdquo; His joy, his intent listening and love for each person with whom he interacted, and his great depth of wisdom have permeated the very core of IJM as an organization.
    </blockquote>
  </article>

  <article>
    <h3 class="source">World Vision</h3>
    <h2 class="title"><a target="_blank" href="http://worldvisionmagazine.org/story/remembering-rev-steve-hayner">Remembering the Rev. Steve Hayner</a></h2>
    <div class="meta">February 3, 2015</div>
    <blockquote>
      Steve&apos;s faithful leadership was marked by the godly wisdom described in James 3:17 &mdash; wisdom that &lsquo;is first of all pure; then peace-loving, considerate, submissive, full of mercy and good fruit, impartial and sincere.&rsquo; He modeled for all of us how to glorify Christ in all things and at all times &mdash; forever and always pointing the way to Christ.
    </blockquote>
  </article>

</section>

<section class="read">
  <header>
    <h1>Honoring</h1>
  </header>

  <article>
    <h3 class="source">Christianity Today</h3>
    <h2 class="title"><a target="_blank" href="http://www.christianitytoday.com/ct/2015/february-web-only/following-jesus-through-cancer-final-conversation-with-s.html">Following Jesus through Cancer: A Final Conversation with Steve Hayner</a></h2>
    <div class="meta"><span class="author">Mark Labberton</span> &bull; February 2, 2015</div>
    <blockquote>
      We are all living into eternal life. Every day in the middle of our circumstances, we have the opportunity and the challenge to figure out what our calling that day is in relationship to the circumstances. In some ways I have to be swifter on my feet now. I have to be more flexible. I need to look at my life in shorter pieces. Most of the time these days. I can&apos;t look at it in pieces much more than a day long. The question is not, <em>What are my plans?</em> The question is, <em>How am I going to be faithful whatever the circumstances?</em>
    </blockquote>

  </article>

  <article>
    <h3 class="source">Commentary Magazine</h3>
    <h2 class="title"><a target="_blank" href="https://www.commentarymagazine.com/2015/02/02/friend-steve-hayner/">My Friend Steve Hayner</a></h2>
    <div class="meta"><span class="author">Peter Wehner</span> &bull; February 2, 2015</div>
    <blockquote>
      I can&rsquo;t possibly do justice to his personal qualities in this post, though I will say two things. First, he was the greatest dispenser of grace of any person I have ever come across–and among the greatest blessings of my life is to have been the recipient of that grace. And second, Steve created a sense of loyalty and affection among his friends that has been ummatched in my life. His friends came from many different countries, ethnic backgrounds, races, ages, professions, political parties, and faiths and religious traditions. He had an amazing ability to listen well and to provide wise counsel when necessary, to connect to people and to make them feel valued. He placed enormous worth on relational integrity, which explains why his illness created such an outpouring of love for him. People wanted to give back to him just a measure of what they had received from him, and longed to give voice to their feelings for him.
    </blockquote>
  </article>

  <article>
    <h3 class="source">Leadership Journal</h3>
    <h2 class="title"><a target="_blank" href="http://www.christianitytoday.com/le/2015/february-online-only/final-trust-walk-of-steve-hayner.html">The Final Trust Walk of Steve Hayner</a></h2>
    <div class="meta"><span class="author">John Ortberg</span> &bull; February 5, 2014</div>
    <blockquote>
      Mother Teresa used to advise people not to try to do great things for God, but to do small things with great love. That was Steve. He told about being a ministry intern; one of his mentors stopped him from sending out the thank-you notes he&apos;d written to volunteers because the stamps on the envelope were too ugly, and &ldquo;people who serve should be thanked with beauty.&rdquo; So Steve went down to the post office to get stamps that had some beauty and class. I can&apos;t see a stamp without thinking about Steve Hayner.
    </blockquote>
  </article>

  <article>
    <h3 class="source">The Blaze</h3>
    <h2 class="title"><a target="_blank" href="http://www.theblaze.com/stories/2015/02/13/these-15-journal-posts-by-this-dying-pastor-might-just-leave-you-standing-on-holy-ground/">These 15 Journal Posts by This Dying Pastor Might Just Leave You Standing on &lsquo;Holy Ground&rsquo;</a></h2>
    <div class="meta"><span class="author">Billy Hallowell</span> &bull; February 13, 2015</div>
    <blockquote>
      After reading through his emotional [CaringBridge] posts, which included his candid struggles, his hopes and the lessons he learned about his Christian faith as he battled for his life, it&apos;s easy to understand why two people who once spent time with Hayner and his wife, Sharol, described feeling as though they were &ldquo;on holy ground&rdquo; in their presence&hellip; In addition to the inspiring sentiment sprinkled throughout, Hayner&apos;s blog offers readers a rare opportunity to see the emotional, physical and spiritual struggles one goes through when faced with terminal cancer.
    </blockquote>
  </article>

  <article>
    <h3 class="source">Sojourners</h3>
    <h2 class="title"><a target="_blank" href="http://sojo.net/blogs/2015/02/26/memoriam-dr-steve-hayner">In Memoriam: Dr. Steve Hayner</a></h2>
    <div class="meta"><span class="author">Lisa Sharon Harper</span> &bull; February 26, 2015</div>
    <blockquote>
      Steve Hayner&apos;s humble and courageous leadership gave us all a glimpse of what is possible when we really love God &mdash; when we trust and choose God&apos;s way to wholeness and peace. With tears of gratefulness, I say thank you, Steve. Thank you for your faithful life. With it you blessed us all.
    </blockquote>
  </article>

</section>
<section class="read">
  <header>
    <h1>Journeying</h1>
  </header>

  <article>
    <h3 class="source">Commentary Magazine</h3>
    <h2 class="title"><a target="_blank" href="https://www.commentarymagazine.com/2014/05/09/so-well-choose-the-way-of-trust-and-joy-instead/">&ldquo;So We&apos;ll Choose the Way of Trust and Joy Instead.&rdquo;</a></h2>
    <div class="meta"><span class="author">Peter Wehner</span> &bull; May 9, 2014</div>
    <blockquote>
      If you&rsquo;re lucky in life, somewhere along the way you come across someone whose integrity, grace, tenderness, and wisdom become touchstones for you. Steve has been that for me for almost my entire adult life&hellip; More than anyone I&apos;ve known over the years, Steve has helped me to see that often we find ourselves somewhere else than we ever imagined and that God can weave good even out of places of brokenness and pain; that we need to live our lives in light of eternity; and that while we may not understand what God is doing, hope comes when we cling to the One who holds the future.
    </blockquote>
  </article>

  <article>
    <h3 class="source">The Presbyterian Outlook</h3>
    <h2 class="title"><a target="_blank" href="http://pres-outlook.org/2014/07/columbia-president-affirms-faith-despite-spreading-cancer/">Columbia president affirms faith despite spreading cancer</a></h2>
    <div class="meta"><span class="author">Leslie Scanlon</span> &bull; July 29, 2014</div>
    <blockquote>
      It&apos;s a moment when we learn from each other&hellip; He is in the midst of it and he is dying, and he is saying, &lsquo;Prayers are being answered. I know I&apos;m not alone. God is giving me peace&rsquo; &hellip; It&apos;s a moment to think again about why we pray and how prayers are answered.
    </blockquote>
  </article>

  <article>
    <h3 class="source">Leadership Journal</h3>
    <h2 class="title"><a target="_blank" href="http://www.christianitytoday.com/le/2014/august-online-only/what-to-do-with-day.html">What to Do With a Day</a></h2>
    <div class="meta"><span class="author">John Ortberg</span> &bull; August 5, 2014</div>
    <blockquote>
      One of my longtime heroes in ministry has been Steve Hayner. I first met Steve more than 25 years ago through our mutual involvement at Fuller Seminary. He is brilliant (Ph.D from St Andrews), and positive, and humble, and incredibly personable; younger people in ministry flock to him because he has this way of making people feel not that <em>he</em> is terrifically important, but that <em>they</em> are terrifically important. Because to Steve, they are.
    </blockquote>
  </article>

  <article>
    <h3 class="source">The Christian Century</h3>
    <h2 class="title"><a target="_blank" href="http://www.christiancentury.org/article/2014-08/joyful-end">Joyful to the end</a></h2>
    <div class="meta"><span class="author">M. Craig Barnes</span> &bull; September 10, 2014</div>
    <blockquote>
      When I think about all that Steve Hayner still has to offer the kingdom of God, I go a little crazy trying to figure out why Jesus has to wait until heaven to heal him. Why not here and now? He&apos;s done it before. And what about all of the prayers that have bombarded heaven&apos; door? But a central part of our faith is the almost daily reminder that we are not Jesus and aren&rsquo;t even called to understand him. The call is just to &ldquo;trust him,&rdquo; as Anna reminds us. So it has always been in the history of the church in prayer.
    </blockquote>
  </article>
</section>

<section class="read">
  <div class="contact-me">Are there any other articles that are worth adding to this list? Please send me an email at <a href="mailto:chiphayner@gmail.com">chiphayner@gmail.com</a>.</div>
</section>
