<% content_for :ogtags do %>
  <meta property="og:url" content="http://www.thankstoyousteve.com/memorial"/>
  <meta property="og:title" content="Steve Hayner&rsquo;s Memorial Service on ThanksToYouSteve.com"/>
  <meta property="og:description" content="A Service in Witness to the Resurrection of Jesus Christ
In Memory of Stephen Allen Hayner (February 23, 2015)"/>
  <meta property="og:image" content="<%=image_url("hdr-steve.jpg")%>" />
<% end %>
<section class="watch">
  <header>
    <h1>A Service in Witness to the Resurrection of Jesus Christ</h1>
    <h2>In Memory of Stephen Allen Hayner</h2>
    <h3>February 23, 2015</h3>
  </header>
  <article>
    <iframe id="video-wrapper" src="https://player.vimeo.com/video/120493156?title=0&byline=0&portrait=0" width="1088" height="612" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </article>

  <div id="bulletin">
    <div data-configid="7910625/11693327" style="width:1088px; height:854px;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
  </div>

  <div class="thanks">
    Many thanks to Rev. Marnie Crumpler, the executive pastor at <a href="http://peachtree-church.org" target="_blank">Peachtree Presbyterian Church</a>, and the amazing staff team who served us so beautifully. Their hospitality and grace flowed abundantly&mdash;really more than we could ask or imagine.
  </div>
</section>
