section.post-feed {
  .gutter-width { // Defines gutter width for Isotope
    width: 0.5em;
  }

  article.post {
    margin: 0.5em;
    max-width: 600px;

    @include media($mobile-only) {
      width: calc(100%);
      width: -webkit-calc(100%);
      margin: 0 0 1em;
    }

    @include media($medium-screen-up) {
      width: calc(50% - 1em);
      width: -webkit-calc(50% - 1em);
    }
    @include media($large-screen-up) {
      width: calc(33.3% - 1em);
      width: -webkit-calc(33.3% - 1em);
    }
  }
  padding-top: 1em;

  .column-width { // Defines column width for Packery
      max-width: 600px;
      width: calc(100%);
      width: -webkit-calc(100%);

      @include media($medium-screen-up) {
        width: calc(50%);
        width: -webkit-calc(50%);
      }
      @include media($large-screen-up) {
        width: calc(33.3%);
        width: -webkit-calc(33.3%)
      }
    }

}

article.post {
  box-shadow: 0 0 2px rgba(0,0,0,0.2);

  .post-image {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 5px;
      width: 0;
      height: 0;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-bottom: 25px solid $white;
    }
  }
  img {
    display: block;
    width: 100%;
  }

  .post-body {
    background: #fff;
    color: $dark-gray;
    line-height: 1.8em;
    padding: 2em;
    h3 {
      @extend %section-header;
      font-size: 1em;
      margin-top: 0;
      a {
        color: $dark-gray;
      }
    }
    p {
      margin-bottom: 0;
    }
    p + p {
      margin-top: 1em;
    }
  }


  footer {
    @include outer-container();
    background: $dark-gray;
    color: $white;
    .author-image {
      @include span-columns(2 of 10);
      @include pad(0.8em 0 0.8em 0.8em);
      position: relative;
      img {
        display: block;
        height: auto;
        width: 100%;
      }
    }
    .author-info {
      @include span-columns(8 of 10);
      @include pad(.8em);
      padding-left: 0;
      text-transform: uppercase;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 0px;
        right: 5px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $white;
      }
      .name {
        font-size: em(14px);
        font-weight: bold;
        line-height: 1em;
        margin-bottom: em(12px);
      }
      .meta {
        font-size: em(12px);
        font-weight: 800;
        letter-spacing: 1px;
        line-height: 1.4em;
        .meta-year {
          color: $green;
        }
        label {
          color: $medium-gray;
          font-size: em(8px);
          font-weight: 800;
          margin-bottom: 0;
        }
      }
      .date-location {
        color: $medium-gray;
        font-size: em(8px);
        font-weight: 800;
        line-height: 1.6em;
        letter-spacing: 1px;
        margin-top: em(12px);
        .location {
          color: $green;
          font-weight: 800;
          white-space: nowrap;
        }
      }
    }
  }
}
